.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 4rem;
  display: block;
  margin-bottom: 1rem;
}

.featureLink {
  color: inherit;
  text-decoration: none;
}

.featureLink:hover {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}
